@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.toggle
{
    position: fixed;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background: black url(images/menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 1000;
}
.toggle.active
{
    background: black url(images/close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
}
section
{
    padding: 100px;
    min-height: 100vh;
}
.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
}
.banner .imgSidebar
{
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 100%;
}
.banner .imgSidebar img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner .contentBx
{
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 500px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.logoText
{
    position: absolute;
    top: 40px;
    left: 100px;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #333;
    color: white;
    padding: 0.5px;
}